<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="task_plan" basename="qwe.workshop.management.web.i18n.task.task_plan"/>
        <h:outputText value="#{task_plan.title}"/>
    </ui:define>

    <ui:define name="content">
        <p:panel header="#{task_plan.title}" collapsed="true" styleClass="pageHeaderPanel"/>
        <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

        <h:form>
            <p:tabMenu activeIndex="#{param.mode}">
                <p:menuitem value="#{task_plan.current}" outcome="/pages/task/task_plan" icon="ui-icon-star">
                    <f:param name="mode" value="#{taskPlanBean.currentModeIndex}"/>
                </p:menuitem>
                <p:menuitem value="#{task_plan.finished}" outcome="/pages/task/task_plan" icon="ui-icon-star">
                    <f:param name="mode" value="#{taskPlanBean.finishedModeIndex}"/>
                </p:menuitem>
            </p:tabMenu>
        </h:form>

        <h:panelGroup rendered="#{taskPlanBean.currentMode}">
            <ui:include src="task_plan_current_include.xhtml"/>
        </h:panelGroup>

        <h:panelGroup rendered="#{taskPlanBean.finishedMode}">
            <ui:include src="task_plan_finished_include.xhtml"/>
        </h:panelGroup>

    </ui:define>

</ui:composition>