<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>
    <f:loadBundle var="buttons" basename="qwe.workshop.management.web.i18n.buttons"/>
    <f:loadBundle var="task_plan_current" basename="qwe.workshop.management.web.i18n.task.task_plan_current"/>

    <style type="text/css">
        .taskFieldDesc {
            text-align: right;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .taskField {
            text-align: left !important;
            padding-bottom: 10px;
        }

        .taskField .ui-inputfield.hasDatepicker {
            width: 70px;
        }

        .taskField .ui-inputfield,
        .taskField .ui-inputtextarea {
            width: 300px;
        }
    </style>

    <h:form id="currentTasksForm">
        <p:dataTable id="currentTasksTable" value="#{taskPlanCurrentBean.currentTasks}" var="task" rowKey="#{task.id}">

            <f:facet name="header">
                <qwe:entityListEditorAddButton editor="#{taskPlanCurrentBean}"
                                               editDialogId=":taskEditDialog"
                                               editDialogWidgetVar="taskEditDialogWidget"/>
            </f:facet>

            <p:column headerText="Id" width="20">
                <h:outputText value="#{task.id}" styleClass="#{task.status eq 'ACTIVE' ? 'bold' : ''}"/>
            </p:column>

            <p:column headerText="#{common.date}">
                <h:outputText value="#{task.taskDate}" converter="DateConverter"
                              styleClass="#{task.status eq 'ACTIVE' ? 'bold' : ''}"/>
            </p:column>

            <p:column headerText="#{common.task_type}">
                <h:outputText value="#{task.type.name}" styleClass="#{task.status eq 'ACTIVE' ? 'bold' : ''}"/>
            </p:column>

            <p:column headerText="#{common.name}">
                <h:outputText value="#{task.name}" styleClass="#{task.status eq 'ACTIVE' ? 'bold' : ''}"/>
            </p:column>

            <p:column headerText="#{common.status}">
                <h:outputText value="#{enumHelper.getDescription(task.status)}"
                              styleClass="#{task.status eq 'ACTIVE' ? 'bold' : ''}"/>
            </p:column>

            <p:column headerText="#{common.time}" styleClass="right">
                <h:outputText value="#{task.duration}" styleClass="#{task.status eq 'ACTIVE' ? 'bold' : ''}"/>
            </p:column>

            <p:column headerText="#{common.controls}">
                <qwe:entityListEditorTableButtons editor="#{taskPlanCurrentBean}" entity="#{task}"
                                                  editDialogId=":taskEditDialog"
                                                  editDialogWidgetVar="taskEditDialogWidget"
                                                  deleteDialogId=":taskDeleteDialog"
                                                  deleteDialogWidgetVar="taskDeleteDialogWidget"/>

                <!-- Maximum 2 buttons may be rendered -->
                <h:panelGrid columns="2" styleClass="entityListEditorTableButtons">
                    <p:commandButton rendered="#{taskService.canChangeStatus(task.status, 'FINISHED')}"
                                     process="@this"
                                     action="#{taskPlanCurrentBean.prepareToFinish(task)}"
                                     update=":messages :taskFinishDialogForm"
                                     oncomplete="PF('taskFinishDialogWidget').show();"
                                     icon="ui-icon-stop"/>

                    <p:commandButton rendered="#{taskService.canChangeStatus(task.status, 'PAUSED')}"
                                     action="#{taskPlanCurrentBean.changeTaskStatus(task, 'PAUSED')}"
                                     process="@this" update=":messages currentTasksTable"
                                     icon="ui-icon-pause"/>

                    <p:commandButton rendered="#{taskService.canChangeStatus(task.status, 'ACTIVE')}"
                                     action="#{taskPlanCurrentBean.changeTaskStatus(task, 'ACTIVE')}"
                                     process="@this" update=":messages currentTasksTable"
                                     icon="ui-icon-play"/>
                </h:panelGrid>

            </p:column>

        </p:dataTable>
    </h:form>

    <qwe:entityListEditorEditDialog id="taskEditDialog" widgetVar="taskEditDialogWidget"
                                    editor="#{taskPlanCurrentBean}" tableId=":currentTasksForm:currentTasksTable">
        <h:panelGrid columns="2" columnClasses="taskFieldDesc,taskField">
            <p:outputLabel for="taskDate" value="#{common.date}"/>
            <p:calendar id="taskDate" value="#{taskPlanCurrentBean.preparedTask.taskDate}" showOn="button"
                        pattern="dd.MM.yyyy"/>

            <p:outputLabel for="taskType" value="#{common.task_type}"/>
            <p:selectOneMenu id="taskType" value="#{taskPlanCurrentBean.preparedTask.type}"
                             converter="#{taskPlanCurrentBean.taskTypeConverter}" style="width: 310px;">
                <f:selectItem itemLabel="#{common.select_task_type}" noSelectionOption="true"/>
                <f:selectItems value="#{taskPlanCurrentBean.taskTypes}" var="type"
                               itemValue="#{type}"
                               itemLabel="#{type.name}"/>
            </p:selectOneMenu>

            <p:outputLabel for="taskName" value="#{common.name}"/>
            <p:inputText id="taskName" value="#{taskPlanCurrentBean.preparedTask.name}"/>

            <p:outputLabel for="taskComment" value="#{common.comment}"/>
            <p:inputTextarea id="taskComment" value="#{taskPlanCurrentBean.preparedTask.comment}"/>
        </h:panelGrid>
    </qwe:entityListEditorEditDialog>

    <qwe:entityListEditorDeleteDialog id="taskDeleteDialog" widgetVar="taskDeleteDialogWidget"
                                      editor="#{taskPlanCurrentBean}" tableId=":currentTasksForm:currentTasksTable"
                                      message="#{messageFormater.format(
                                                 task_plan_current.delete_confirm_msg,
                                                 taskPlanCurrentBean.preparedTask.name)}"/>

    <h:form id="taskFinishDialogForm">
        <p:confirmDialog id="taskFinishDialog"
                         header="#{messageFormater.format(
                                   task_plan_current.finish_dialog_title,
                                   taskPlanCurrentBean.preparedTask.name)}"
                         message="#{messageFormater.format(
                                    task_plan_current.finish_confirm_msg,
                                    taskPlanCurrentBean.preparedTask.name)}"
                         widgetVar="taskFinishDialogWidget" closeOnEscape="true">

            <p:commandButton value="#{buttons.finish}" icon="ui-icon-stop"
                             onstart="PF('taskFinishDialogWidget').hide();"
                             process="@this"
                             action="#{taskPlanCurrentBean.finish}"
                             update=":messages :currentTasksForm:currentTasksTable"/>

            <p:commandButton value="#{buttons.cancel}" icon="ui-icon-close" type="button"
                             onclick="PF('taskFinishDialogWidget').hide();"/>
        </p:confirmDialog>
    </h:form>


</ui:composition>