<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xml:lang="en" lang="en">

    <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>
    <f:loadBundle var="task_plan_finished" basename="qwe.workshop.management.web.i18n.task.task_plan_finished"/>

    <h:form id="finishedTasksForm">
        <p:dataTable id="finishedTasksTable" value="#{taskPlanFinishedBean.finishedTasksModel}" var="task"
                     lazy="true" rows="50"
                     paginator="true"
                     paginatorPosition="bottom"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink}
                                        {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="5,10,25,50,100">

            <p:ajax event="page" listener="#{taskPlanFinishedBean.finishedTasksModel.paginationInvoked}"/>

            <p:column headerText="Id" width="20">
                <h:outputText value="#{task.id}"/>
            </p:column>

            <p:column headerText="#{common.date}">
                <h:outputText value="#{task.taskDate}" converter="DateConverter"/>
            </p:column>

            <p:column headerText="#{common.task_type}">
                <h:outputText value="#{task.type.name}"/>
            </p:column>

            <p:column headerText="#{common.name}">
                <h:outputText value="#{task.name}"/>
            </p:column>

            <p:column headerText="#{common.comment}">
                <h:outputText value="#{task.comment}"/>
            </p:column>

            <p:column headerText="#{common.finish_timestamp}">
                <h:outputText value="#{task.statusTimestamp}" converter="DateTimeConverter"/>
            </p:column>

            <p:column headerText="#{common.time}" styleClass="right">
                <h:outputText value="#{task.duration}"/>
            </p:column>

        </p:dataTable>
    </h:form>

</ui:composition>