<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="task_types" basename="qwe.workshop.management.web.i18n.task.task_types"/>
        <h:outputText value="#{task_types.title}"/>
    </ui:define>

    <ui:define name="content">
        <p:panel header="#{task_types.title}" collapsed="true" styleClass="pageHeaderPanel"/>
        <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

        <h:form id="taskTypesForm">
            <p:dataTable id="taskTypesTable" value="#{taskTypesBean.taskTypes}" var="taskType" rowKey="#{taskType.id}">

                <f:facet name="header">
                    <qwe:entityListEditorAddButton editor="#{taskTypesBean}"
                                                   editDialogId=":taskTypeEditDialog"
                                                   editDialogWidgetVar="taskTypeEditDialogWidget"/>
                </f:facet>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{taskType.id}"/>
                </p:column>

                <p:column headerText="#{common.name}">
                    <h:outputText value="#{taskType.name}"/>
                </p:column>

                <p:column headerText="#{common.controls}" width="100">
                    <qwe:entityListEditorTableButtons editor="#{taskTypesBean}" entity="#{taskType}"
                                                      editDialogId=":taskTypeEditDialog"
                                                      editDialogWidgetVar="taskTypeEditDialogWidget"
                                                      deleteDialogId=":taskTypeDeleteDialog"
                                                      deleteDialogWidgetVar="taskTypeDeleteDialogWidget"/>
                </p:column>

            </p:dataTable>
        </h:form>

        <qwe:entityListEditorEditDialog id="taskTypeEditDialog" widgetVar="taskTypeEditDialogWidget"
                                        editor="#{taskTypesBean}" tableId=":taskTypesForm:taskTypesTable">
            <h:panelGrid columns="2">
                <p:outputLabel for="taskTypeName" value="#{common.name}"/>
                <p:inputText id="taskTypeName" value="#{taskTypesBean.preparedTaskType.name}"/>
            </h:panelGrid>
        </qwe:entityListEditorEditDialog>

        <qwe:entityListEditorDeleteDialog id="taskTypeDeleteDialog" widgetVar="taskTypeDeleteDialogWidget"
                                          editor="#{taskTypesBean}" tableId=":taskTypesForm:taskTypesTable"
                                          message="#{messageFormater.format(
                                                     task_types.delete_confirm_msg,
                                                     taskTypesBean.preparedTaskType.name)}"/>

    </ui:define>

</ui:composition>