<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="task_reports" basename="qwe.workshop.management.web.i18n.task.task_reports"/>
        <h:outputText value="#{task_reports.title}"/>
    </ui:define>

    <ui:define name="content">
        <p:panel header="#{task_reports.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form>
            <qwe:dateIntervalFilter id="dateIntervalFilter"
                                    filter="#{taskDurationByTypeReportBean}"
                                    update=":chartForm"/>
        </h:form>

        <h:form id="chartForm">
            <p:chart type="pie" model="#{taskDurationByTypeReportBean.pieChartModel}" style="height: 700px;"/>
        </h:form>
    </ui:define>

</ui:composition>