/* Authentification (BEGIN) */

#authForm {
    width: 330px;
    height: 170px;
    margin: 200px auto;
}

#authForm td {
    padding: 5px;
}

#authForm input {
    width: 200px;
}

#authForm tr:last-child td {
    text-align: right;
}

/* Authentification (END) */

/* Design (BEGIN) */

div.header {
    text-align: center;
    /*    border: 1px solid green;*/
}

div.sidebarLeft {
    float: left;
    width: 20%;
    /*border: 1px solid orange;*/
}

div.content {
    float: left;
    text-align: center;
    width: 75%;
    /*border: 1px solid red;*/
}

/* Design (END) */

/* Messages (BEGIN) */

.error {
    font-style: italic;
    color: red;
}

/* Messages (END) */

.title {
    font-size: 23px;
    font-weight: bold;
}

/* Primefaces font size workaround(from guide)*/
.ui-widget,
.ui-widget .ui-widget {
    font-size: 90% !important;
}

div.header > table {
    width: 100%;
}

div.header td.logoutButton {
    width: 80px;
}

/* Page Header Panel (BEGIN) */
.mainHeaderPanel div,
.pageHeaderPanel {
    border: none;
}

.pageHeaderPanel {
    margin-bottom: 20px;
}

.ui-panel .ui-panel-title {
    color: white;
    font-weight: normal;
}
/* Page Header Panel (END) */

/* Buttons (BEGIN) */
.ui-button-text {
    color: white;
    text-shadow: none;
}

.ui-selectonemenu-trigger,
.ui-radiobutton-box {
    background-image: none !important;
}
/*
button.ui-state-disabled .ui-button-text {
    background-color: #E6E6E6;
}
*/

.ui-icon,
.ui-state-default .ui-icon,
.ui-widget-header .ui-icon {
    background-image: url("#{resource['primefaces-bootstrap:images/ui-icons_ffffff_256x240.png']}");
}

/* Buttons (END) */

/* Table Header (BEGIN) */

div.ui-datatable-header,
div.ui-treetable-header {
    text-align: left !important;
    min-width: 400px;
}

/* Table Header (END) */

/* bootstrap-theme blue color #0081C2 (BEGIN) */

.ui-panel .ui-panel-titlebar,
.ui-button-text,
.ui-icon-check,
.ui-selectonemenu-trigger,
.ui-radiobutton-box,
.ui-overlaypanel-close .ui-icon-closethick {
    background-color: #0081C2 !important;
}

/* bootstrap-theme blue color #0081C2 (END) */

/* Выделенная строка в таблицы */
.ui-widget-content .ui-state-highlight {
    color: #333333;
    background-color: #E6EFFF;
    background-image: -moz-linear-gradient(top, #d4dded, #E6EFFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d4dded), to(#E6EFFF));
    background-image: -webkit-linear-gradient(top, #d4dded, #E6EFFF);
    background-image: -o-linear-gradient(top, #d4dded, #E6EFFF);
    background-image: linear-gradient(to bottom, #d4dded, #E6EFFF);
}

/* Цвет текста в заголовке таба таб-панели */
.ui-tabs .ui-tabs-nav.ui-widget-header li a {
    color: #333333;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.block {
    display: block;
}

.alarm {
    color: red !important;
}

.bold {
    font-weight: bold !important;
}

.ui-progressbar .ui-progressbar-value {
    background-image: url("#{resource['images/progress-bar-animated.gif']}") !important;
}

.charsCounter {
    display: block;
    font-size: 12px;
    color: #878787;
}

.entityListEditorTableButtons {
    display: inline-block;
    table-layout: fixed;
    width: auto !important;
}

.entityListEditorTableButtons td {
    border-style: none !important;
    max-width: 35px;
}

.negativeSignumAmount {
    color: red;
}

.positiveSignumAmount {
    color: green;
}

.dateIntervalFilter td {
    padding-right: 10px;
    padding-bottom: 20px;
}

.dateIntervalFilter .ui-inputfield.hasDatepicker {
    width: 80px;
}

.operationReportAmounts td {
    padding-bottom: 20px;
}

.operationReportAmounts td:nth-child(even) {
    padding-right: 20px;
}