<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <h:outputText value="This is window title for welcome page"/>
    </ui:define>

    <ui:define name="content">
        <h3>Добро пожаловать! Выберите интересующий раздел слева</h3>
    </ui:define>

</ui:composition>