<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">
<head>
</head>
<body>

<ui:composition>

    <f:loadBundle var="main_menu" basename="qwe.workshop.management.web.i18n.main_menu"/>

    <h:form id="mainMenuForm">

        <p:menu id="mainMenu" toggleable="true">

            <p:submenu label="#{main_menu.tasks}">
                <p:menuitem value="#{main_menu.task_types}"
                            outcome="/pages/task/task_types?faces-redirect=true" icon="ui-icon-star"/>
                <p:menuitem value="#{main_menu.task_plan}"
                            outcome="/pages/task/task_plan?faces-redirect=true" icon="ui-icon-clipboard"/>
                <p:menuitem value="#{main_menu.task_reports}"
                            outcome="/pages/task/task_reports?faces-redirect=true" icon="ui-icon-image"/>
            </p:submenu>

            <p:submenu label="#{main_menu.finance}">
                <p:menuitem value="#{main_menu.operation_params}"
                            outcome="/pages/operation/operation_params?faces-redirect=true" icon="ui-icon-star"/>
                <p:menuitem value="#{main_menu.operations}"
                            outcome="/pages/operation/operations?faces-redirect=true" icon="ui-icon-star"/>
                <p:menuitem value="#{main_menu.operation_reports}"
                            outcome="/pages/operation/operation_reports?faces-redirect=true" icon="ui-icon-image"/>
            </p:submenu>

        </p:menu>

    </h:form>

</ui:composition>

</body>
</html>