<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <h:form>
        <qwe:dateIntervalFilter id="dateIntervalFilter"
                                filter="#{operationByOrderSourceReportBean}"
                                update=":chartFormForByOrderSourceReport"/>
    </h:form>

    <h:form id="chartFormForByOrderSourceReport">
        <p:chart type="pie" model="#{operationByOrderSourceReportBean.pieChartModel}" style="width: 500px;"/>
    </h:form>

</ui:composition>