<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="operation_reports" basename="qwe.workshop.management.web.i18n.operation.operation_reports"/>
        <h:outputText value="#{operation_reports.title}"/>
    </ui:define>

    <ui:define name="content">
        <p:panel header="#{operation_reports.title}" collapsed="true" styleClass="pageHeaderPanel"/>
        <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

        <h:form>
            <p:tabMenu activeIndex="#{param.mode}">
                <p:menuitem value="#{operation_reports.by_type}"
                            outcome="/pages/operation/operation_reports" icon="ui-icon-star">
                    <f:param name="mode" value="#{operationReportsBean.byTypeModeIndex}"/>
                </p:menuitem>
                <p:menuitem value="#{operation_reports.by_category}"
                            outcome="/pages/operation/operation_reports" icon="ui-icon-star">
                    <f:param name="mode" value="#{operationReportsBean.byCategoryModeIndex}"/>
                </p:menuitem>
                <p:menuitem value="#{operation_reports.by_month}"
                            outcome="/pages/operation/operation_reports" icon="ui-icon-star">
                    <f:param name="mode" value="#{operationReportsBean.byMonthModeIndex}"/>
                </p:menuitem>
                <p:menuitem value="#{operation_reports.by_order_source}"
                            outcome="/pages/operation/operation_reports" icon="ui-icon-star">
                    <f:param name="mode" value="#{operationReportsBean.byOrderSourceModeIndex}"/>
                </p:menuitem>
            </p:tabMenu>
        </h:form>

        <h:panelGroup rendered="#{operationReportsBean.byTypeMode}">
            <ui:include src="operation_by_type_report_include.xhtml"/>
        </h:panelGroup>

        <h:panelGroup rendered="#{operationReportsBean.byCategoryMode}">
            <ui:include src="operation_by_category_report_include.xhtml"/>
        </h:panelGroup>

        <h:panelGroup rendered="#{operationReportsBean.byMonthMode}">
            <ui:include src="operation_by_month_report_include.xhtml"/>
        </h:panelGroup>

        <h:panelGroup rendered="#{operationReportsBean.byOrderSourceMode}">
            <ui:include src="operation_by_order_source_report_include.xhtml"/>
        </h:panelGroup>

    </ui:define>

</ui:composition>