<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

    <style type="text/css">

        .operationYearsForm {
            text-align: left;
        }

        .operationYearsForm .ui-button-text {
            opacity: 0.5;
        }

        .operationYearsForm .ui-state-active .ui-button-text {
            opacity: 1;
        }

        .chartFormForByMonthReport,
        .yearMonthTableForm,
        .yearTableForm {
            margin-top: 30px;
        }
    </style>

    <h:form id="operationYearsForm" styleClass="operationYearsForm">
        <p:selectManyButton value="#{operationByMonthReportBean.selectedYears}">
            <p:ajax event="change" process="@this"
                    listener="#{operationByMonthReportBean.reloadReport()}"
                    update=":chartFormForByMonthReport :yearMonthTableForm :yearTableForm"/>
            <f:selectItems value="#{operationByMonthReportBean.operationYears}" var="year">
                <f:selectItem itemLabel="#{year}" itemValue="#{year}" />
            </f:selectItems>
        </p:selectManyButton>
    </h:form>

    <h:form id="chartFormForByMonthReport" styleClass="chartFormForByMonthReport">
        <p:chart type="line" model="#{operationByMonthReportBean.chartModel}"/>
    </h:form>

    <h:form id="yearMonthTableForm" styleClass="yearMonthTableForm">
        <p:dataTable value="#{operationByMonthReportBean.reportYearMonths}" var="yearMonth">

            <p:column headerText="#{common.year}">
                <h:outputText value="#{yearMonth.year}"/>
            </p:column>

            <p:column headerText="#{common.month}">
                <h:outputText value="#{messageManager.getMonthName(yearMonth.monthOfYear)}"/>
            </p:column>

            <p:column headerText="#{common.expense}">
                <qwe:signumAmount amount="#{- operationByMonthReportBean.getReportYearMonthAmounts(yearMonth).expense}"/>
            </p:column>

            <p:column headerText="#{common.income}">
                <qwe:signumAmount amount="#{operationByMonthReportBean.getReportYearMonthAmounts(yearMonth).income}"/>
            </p:column>

            <p:column headerText="#{common.profit}">
                <qwe:signumAmount amount="#{operationByMonthReportBean.getReportYearMonthAmounts(yearMonth).profit}"/>
            </p:column>

        </p:dataTable>
    </h:form>

    <h:form id="yearTableForm" styleClass="yearTableForm">
        <p:dataTable value="#{operationByMonthReportBean.reportYears}" var="year">

            <p:column headerText="#{common.year}">
                <h:outputText value="#{year}"/>
            </p:column>

            <p:column headerText="#{common.expense}">
                <qwe:signumAmount amount="#{- operationByMonthReportBean.getReportYearAmounts(year).expense}"/>
            </p:column>

            <p:column headerText="#{common.income}">
                <qwe:signumAmount amount="#{operationByMonthReportBean.getReportYearAmounts(year).income}"/>
            </p:column>

            <p:column headerText="#{common.profit}">
                <qwe:signumAmount amount="#{operationByMonthReportBean.getReportYearAmounts(year).profit}"/>
            </p:column>

        </p:dataTable>
    </h:form>

</ui:composition>