<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <h:form>
        <qwe:dateIntervalFilter id="dateIntervalFilter"
                                filter="#{operationByCategoryReportBean}"
                                update=":operationReportAmountsForByCategoryReport :chartFormForByCategoryReport"/>
    </h:form>

    <qwe:operationReportAmounts id="operationReportAmountsForByCategoryReport"
                                      value="#{operationByCategoryReportBean.operationByTypeReport.reportAmounts}"/>

    <h:form id="chartFormForByCategoryReport">
        <h:panelGrid columns="2">
            <p:chart type="pie" model="#{operationByCategoryReportBean.expensePieChartModel}" style="width: 500px;"/>
            <p:chart type="pie" model="#{operationByCategoryReportBean.incomePieChartModel}" style="width: 500px;"/>
        </h:panelGrid>
    </h:form>

</ui:composition>