<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="operations_msgs" basename="qwe.workshop.management.web.i18n.operation.operations"/>
        <h:outputText value="#{operations_msgs.title}"/>
    </ui:define>

    <ui:define name="content">
        <p:panel header="#{operations_msgs.title}" collapsed="true" styleClass="pageHeaderPanel"/>
        <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

        <style type="text/css">

            .operationFieldDesc {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .operationField {
                text-align: left !important;
                padding-bottom: 10px;
            }

            .operationField .ui-inputfield.hasDatepicker {
                width: 70px;
            }

            .operationField .ui-inputfield,
            .operationField .ui-inputtextarea {
                width: 300px;
            }
        </style>

        <h:form>
            <qwe:dateIntervalFilter id="dateIntervalFilter"
                                    filter="#{operationsBean}"
                                    update=":operationsForm:operationsTable :operationReportAmounts"/>
        </h:form>

        <qwe:operationReportAmounts id="operationReportAmounts"
                                    value="#{operationsBean.operationByTypeReport.reportAmounts}"/>

        <h:form id="operationsForm">
            <p:dataTable id="operationsTable" value="#{operationsBean.operationsModel}" var="operation"
                         lazy="true" rows="50"
                         paginator="true"
                         paginatorPosition="bottom"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink}
                                            {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,25,50,100">

                <f:facet name="header">
                    <qwe:entityListEditorAddButton editor="#{operationsBean}"
                                                   editDialogId=":operationEditDialog"
                                                   editDialogWidgetVar="operationEditDialogWidget"/>
                </f:facet>

                <p:ajax event="page" listener="#{operationsBean.operationsModel.paginationInvoked}"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{operation.id}"/>
                </p:column>

                <p:column headerText="#{common.date}">
                    <h:outputText value="#{operation.date}" converter="DateConverter"/>
                </p:column>

                <p:column headerText="#{common.operation_type}">
                    <h:outputText value="#{enumHelper.getDescription(operation.category.type)}"/>
                </p:column>

                <p:column headerText="#{common.operation_category}">
                    <h:outputText value="#{operation.category.name}"/>
                </p:column>

                <p:column headerText="#{common.order_source}">
                    <h:outputText value="#{operation.orderSource.name}"/>
                </p:column>

                <p:column headerText="#{common.comment}">
                    <h:outputText value="#{operation.comment}"/>
                </p:column>

                <p:column headerText="#{common.amount}" styleClass="right">
                    <qwe:signumAmount amount="#{operation.category.type eq 'EXPENSE' ? -operation.amount : operation.amount}"/>
                </p:column>

                <p:column headerText="#{common.controls}" width="100">
                    <qwe:entityListEditorTableButtons editor="#{operationsBean}" entity="#{operation}"
                                                      editDialogId=":operationEditDialog"
                                                      editDialogWidgetVar="operationEditDialogWidget"
                                                      deleteDialogId=":operationDeleteDialog"
                                                      deleteDialogWidgetVar="operationDeleteDialogWidget"/>
                </p:column>

            </p:dataTable>
        </h:form>

        <qwe:entityListEditorEditDialog id="operationEditDialog" widgetVar="operationEditDialogWidget"
                                        editor="#{operationsBean}" tableId=":operationsForm:operationsTable"
                                        additionalUpdate=":operationReportAmounts">
            <h:panelGrid columns="2" columnClasses="operationFieldDesc,operationField">

                <p:outputLabel for="operationDate" value="#{common.date}"/>
                <p:calendar id="operationDate" value="#{operationsBean.preparedOperation.date}" showOn="button"
                            pattern="dd.MM.yyyy"/>

                <p:outputLabel for="operationType" value="#{common.operation_type}"/>
                <p:selectOneMenu id="operationType" value="#{operationsBean.preparedOperationType}"
                                 style="width: 310px;">

                    <p:ajax event="change" process="@this"
                            listener="#{operationsBean.preparedOperationTypeChanged}"
                            update="operationCategory"/>

                    <f:selectItem itemLabel="#{common.select_operation_type}" noSelectionOption="true"/>
                    <f:selectItems value="#{operationsBean.operationTypes}" var="type"
                                   itemValue="#{type}"
                                   itemLabel="#{enumHelper.getDescription(type)}"/>
                </p:selectOneMenu>

                <p:outputLabel for="operationCategory" value="#{common.operation_category}"/>
                <p:selectOneMenu id="operationCategory" value="#{operationsBean.preparedOperation.category}"
                                 converter="#{operationsBean.operationCategoryConverter}"
                                 disabled="#{empty operationsBean.preparedOperationType}"
                                 style="width: 310px;">

                    <p:ajax event="change" process="@this" update="orderSource"/>

                    <f:selectItem itemLabel="#{common.select_operation_category}" noSelectionOption="true"/>
                    <f:selectItems value="#{operationsBean.preparedOperationCategories}" var="category"
                                   itemValue="#{category}"
                                   itemLabel="#{category.name}"/>
                </p:selectOneMenu>

                <p:outputLabel for="orderSource" value="#{common.order_source}"/>
                <p:selectOneMenu id="orderSource" value="#{operationsBean.preparedOperation.orderSource}"
                                 converter="#{operationsBean.orderSourceConverter}"
                                 disabled="#{empty operationsBean.preparedOperation.category or
                                             operationsBean.preparedOperation.category.type ne 'INCOME'}"
                                 style="width: 310px;">
                    <f:selectItem itemLabel="#{common.select_order_source}" noSelectionOption="true"/>
                    <f:selectItems value="#{operationsBean.orderSources}" var="orderSource"
                                   itemValue="#{orderSource}"
                                   itemLabel="#{orderSource.name}"/>
                </p:selectOneMenu>

                <p:outputLabel for="operationAmount" value="#{common.amount}"/>
                <p:inputText id="operationAmount" value="#{operationsBean.preparedOperation.amount}"/>

                <p:outputLabel for="operationComment" value="#{common.comment}"/>
                <p:inputTextarea id="operationComment" value="#{operationsBean.preparedOperation.comment}"/>

            </h:panelGrid>
        </qwe:entityListEditorEditDialog>

        <qwe:entityListEditorDeleteDialog id="operationDeleteDialog" widgetVar="operationDeleteDialogWidget"
                                          editor="#{operationsBean}" tableId=":operationsForm:operationsTable"
                                          additionalUpdate=":operationReportAmounts"
                                          message="#{messageFormater.format(
                                                     operations_msgs.delete_confirm_msg,
                                                     operationsBean.preparedOperation.id)}"/>

    </ui:define>

</ui:composition>