<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="operation_params" basename="qwe.workshop.management.web.i18n.operation.operation_params"/>
        <h:outputText value="#{operation_params.title}"/>
    </ui:define>

    <ui:define name="content">
        <p:panel header="#{operation_params.title}" collapsed="true" styleClass="pageHeaderPanel"/>
        <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

        <h:form>
            <p:tabMenu activeIndex="#{param.mode}">
                <p:menuitem value="#{operation_params.operation_categories}"
                            outcome="/pages/operation/operation_params" icon="ui-icon-star">
                    <f:param name="mode" value="#{operationParamsBean.operationCategoryModeIndex}"/>
                </p:menuitem>
                <p:menuitem value="#{operation_params.order_sources}"
                            outcome="/pages/operation/operation_params" icon="ui-icon-star">
                    <f:param name="mode" value="#{operationParamsBean.orderSourceModeIndex}"/>
                </p:menuitem>
            </p:tabMenu>
        </h:form>

        <h:panelGroup rendered="#{operationParamsBean.operationCategoryMode}">
            <ui:include src="operation_categories_include.xhtml"/>
        </h:panelGroup>

        <h:panelGroup rendered="#{operationParamsBean.orderSourceMode}">
            <ui:include src="order_sources_include.xhtml"/>
        </h:panelGroup>
    </ui:define>

</ui:composition>