<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <f:loadBundle var="operation_categories" basename="qwe.workshop.management.web.i18n.operation.operation_categories"/>
    <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

    <style type="text/css">
        .operationCategoryFieldDesc {
            text-align: right;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .operationCategoryField {
            text-align: left !important;
            padding-bottom: 10px;
        }

        .operationCategoryField .ui-inputfield {
            width: 300px;
        }
    </style>

    <h:form id="operationCategoriesForm">
        <p:dataTable id="operationCategoriesTable" value="#{operationCategoriesBean.operationCategories}"
                     var="operationCategory" rowKey="#{operationCategory.id}">

            <f:facet name="header">
                <qwe:entityListEditorAddButton editor="#{operationCategoriesBean}"
                                               editDialogId=":operationCategoryEditDialog"
                                               editDialogWidgetVar="operationCategoryEditDialogWidget"/>
            </f:facet>

            <p:column headerText="Id" width="20">
                <h:outputText value="#{operationCategory.id}"/>
            </p:column>

            <p:column headerText="#{common.operation_type}">
                <h:outputText value="#{enumHelper.getDescription(operationCategory.type)}"/>
            </p:column>

            <p:column headerText="#{common.name}">
                <h:outputText value="#{operationCategory.name}"/>
            </p:column>

            <p:column headerText="#{common.controls}" width="100">
                <qwe:entityListEditorTableButtons editor="#{operationCategoriesBean}" entity="#{operationCategory}"
                                                  editDialogId=":operationCategoryEditDialog"
                                                  editDialogWidgetVar="operationCategoryEditDialogWidget"
                                                  deleteDialogId=":operationCategoryDeleteDialog"
                                                  deleteDialogWidgetVar="operationCategoryDeleteDialogWidget"/>
            </p:column>

        </p:dataTable>
    </h:form>

    <qwe:entityListEditorEditDialog id="operationCategoryEditDialog"
                                    widgetVar="operationCategoryEditDialogWidget"
                                    editor="#{operationCategoriesBean}"
                                    tableId=":operationCategoriesForm:operationCategoriesTable">

        <h:panelGrid columns="2" columnClasses="operationCategoryFieldDesc,operationCategoryField">
            <p:outputLabel for="operationCategoryType" value="#{common.operation_type}"
                           rendered="#{not empty operationCategoriesBean.preparedOperationCategory}"/>
            <p:selectOneMenu id="operationCategoryType" value="#{operationCategoriesBean.preparedOperationCategory.type}"
                             rendered="#{not empty operationCategoriesBean.preparedOperationCategory}"
                             style="width: 310px;">
                <f:selectItem itemLabel="#{common.select_operation_type}" noSelectionOption="true"/>
                <f:selectItems value="#{operationCategoriesBean.operationTypes}" var="type"
                               itemValue="#{type}"
                               itemLabel="#{enumHelper.getDescription(type)}"/>
            </p:selectOneMenu>

            <p:outputLabel for="operationCategoryName" value="#{common.name}"/>
            <p:inputText id="operationCategoryName" value="#{operationCategoriesBean.preparedOperationCategory.name}"/>
        </h:panelGrid>
    </qwe:entityListEditorEditDialog>

    <qwe:entityListEditorDeleteDialog id="operationCategoryDeleteDialog"
                                      widgetVar="operationCategoryDeleteDialogWidget"
                                      editor="#{operationCategoriesBean}"
                                      tableId=":operationCategoriesForm:operationCategoriesTable"
                                      message="#{messageFormater.format(
                                                 operation_categories.delete_confirm_msg,
                                                 operationCategoriesBean.preparedOperationCategory.name)}"/>



</ui:composition>