<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
                xml:lang="en" lang="en">

    <f:loadBundle var="order_sources" basename="qwe.workshop.management.web.i18n.operation.order_sources"/>
    <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

    <style type="text/css">
        .orderSourceFieldDesc {
            text-align: right;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .orderSourceField {
            text-align: left !important;
            padding-bottom: 10px;
        }

        .orderSourceField .ui-inputfield {
            width: 300px;
        }
    </style>

    <h:form id="orderSourcesForm">
        <p:dataTable id="orderSourcesTable" value="#{orderSourcesBean.orderSources}"
                     var="orderSource" rowKey="#{orderSource.id}">

            <f:facet name="header">
                <qwe:entityListEditorAddButton editor="#{orderSourcesBean}"
                                               editDialogId=":orderSourceEditDialog"
                                               editDialogWidgetVar="orderSourceEditDialogWidget"/>
            </f:facet>

            <p:column headerText="Id" width="20">
                <h:outputText value="#{orderSource.id}"/>
            </p:column>

            <p:column headerText="#{common.name}">
                <h:outputText value="#{orderSource.name}"/>
            </p:column>

            <p:column headerText="#{common.controls}" width="100">
                <qwe:entityListEditorTableButtons editor="#{orderSourcesBean}" entity="#{orderSource}"
                                                  editDialogId=":orderSourceEditDialog"
                                                  editDialogWidgetVar="orderSourceEditDialogWidget"
                                                  deleteDialogId=":orderSourceDeleteDialog"
                                                  deleteDialogWidgetVar="orderSourceDeleteDialogWidget"/>
            </p:column>

        </p:dataTable>
    </h:form>

    <qwe:entityListEditorEditDialog id="orderSourceEditDialog"
                                    widgetVar="orderSourceEditDialogWidget"
                                    editor="#{orderSourcesBean}"
                                    tableId=":orderSourcesForm:orderSourcesTable">

        <h:panelGrid columns="2" columnClasses="orderSourceFieldDesc,orderSourceField">
            <p:outputLabel for="orderSourceName" value="#{common.name}"/>
            <p:inputText id="orderSourceName" value="#{orderSourcesBean.preparedOrderSource.name}"/>
        </h:panelGrid>
    </qwe:entityListEditorEditDialog>

    <qwe:entityListEditorDeleteDialog id="orderSourceDeleteDialog"
                                      widgetVar="orderSourceDeleteDialogWidget"
                                      editor="#{orderSourcesBean}"
                                      tableId=":orderSourcesForm:orderSourcesTable"
                                      message="#{messageFormater.format(
                                                 order_sources.delete_confirm_msg,
                                                 orderSourcesBean.preparedOrderSource.name)}"/>



</ui:composition>