<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="filter" type="qwe.workshop.management.web.component.DateIntervalFilter" required="true"/>
    <composite:attribute name="update" type="java.lang.String" required="true"
                         shortDescription="Components ids for update after filtering invoked"/>
</composite:interface>

<composite:implementation>

    <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

    <div id="#{cc.clientId}">
        <h:panelGrid columns="5" styleClass="dateIntervalFilter ui-widget">
            <h:outputText value="#{common.date_from}"/>
            <p:calendar value="#{cc.attrs.filter.dateInterval.startDate}" showOn="button" pattern="dd.MM.yyyy"/>
            <h:outputText value="#{common.date_to}"/>
            <p:calendar value="#{cc.attrs.filter.dateInterval.endDate}" showOn="button" pattern="dd.MM.yyyy"/>
            <p:commandButton value="#{common.invoke_filter}"
                             action="#{cc.attrs.filter.filteringInvoked}"
                             update="#{cc.attrs.update}"/>
        </h:panelGrid>
    </div>

</composite:implementation>


</html>