<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="editor" type="qwe.workshop.management.web.component.EntityListEditor" required="true"/>
    <composite:attribute name="widgetVar" required="true"/>
    <composite:attribute name="tableId" required="true"/>
    <composite:attribute name="additionalUpdate" required="false"/>
</composite:interface>

<composite:implementation>
    <f:loadBundle var="buttons" basename="qwe.workshop.management.web.i18n.buttons"/>

    <div id="#{cc.clientId}">

        <h:form>
            <p:dialog modal="true" widgetVar="#{cc.attrs.widgetVar}"
                      header="#{cc.attrs.editor.editorDialogTitle}">

                <p:messages id="dialogMessages"/>

                <composite:insertChildren/>

                <f:facet name="footer">
                    <h:panelGrid columns="2">
                        <p:commandButton id="saveButton" value="#{buttons.save}"
                                         action="#{cc.attrs.editor.save}"
                                         icon="ui-icon-disk"
                                         process="@this @form"
                                         update="dialogMessages #{cc.attrs.tableId} #{cc.attrs.additionalUpdate}"
                                         oncomplete="if (!args.validationFailed) PF('#{cc.attrs.widgetVar}').hide();"/>

                        <p:commandButton value="#{buttons.cancel}" type="button"
                                         onclick="PF('#{cc.attrs.widgetVar}').hide();"
                                         icon="ui-icon-cancel"/>
                    </h:panelGrid>
                </f:facet>

            </p:dialog>

            <p:defaultCommand target="saveButton"/>

        </h:form>

    </div>

</composite:implementation>


</html>