<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="editor" type="qwe.workshop.management.web.component.EntityListEditor" required="true"/>
    <composite:attribute name="widgetVar" required="true"/>
    <composite:attribute name="tableId" required="true"/>
    <composite:attribute name="additionalUpdate" required="false"/>
    <composite:attribute name="message" required="true"/>
</composite:interface>

<composite:implementation>
    <f:loadBundle var="buttons" basename="qwe.workshop.management.web.i18n.buttons"/>

    <div id="#{cc.clientId}">

        <h:form>
            <p:confirmDialog message="#{cc.attrs.message}" header="#{cc.attrs.editor.editorDialogTitle}"
                             widgetVar="#{cc.attrs.widgetVar}" closeOnEscape="true">

                <p:commandButton value="#{buttons.delete}" icon="ui-icon-check"
                                 onstart="PF('#{cc.attrs.widgetVar}').hide();"
                                 process="@this"
                                 action="#{cc.attrs.editor.delete}"
                                 update=":messages #{cc.attrs.tableId} #{cc.attrs.additionalUpdate}"/>

                <p:commandButton value="#{buttons.cancel}" icon="ui-icon-close" type="button"
                                 onclick="PF('#{cc.attrs.widgetVar}').hide();"/>
            </p:confirmDialog>
        </h:form>
    </div>

</composite:implementation>


</html>