<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="editor" type="qwe.workshop.management.web.component.EntityListEditor" required="true"/>
    <composite:attribute name="entity" type="qwe.workshop.management.core.domain.Identifiable" required="true"/>
    <composite:attribute name="editDialogId" required="true"/>
    <composite:attribute name="editDialogWidgetVar" required="true"/>
    <composite:attribute name="deleteDialogId" required="true"/>
    <composite:attribute name="deleteDialogWidgetVar" required="true"/>
</composite:interface>

<composite:implementation>
    <f:loadBundle var="buttons" basename="qwe.workshop.management.web.i18n.buttons"/>

    <h:panelGrid columns="2" styleClass="entityListEditorTableButtons">
        <p:commandButton action="#{cc.attrs.editor.prepareToEdit(cc.attrs.entity)}"
                         process="@this" update=":messages #{cc.attrs.editDialogId}"
                         oncomplete="PF('#{cc.attrs.editDialogWidgetVar}').show();"
                         icon="ui-icon-pencil"/>

        <p:commandButton rendered="#{cc.attrs.editor.canBeDelete(cc.attrs.entity)}"
                         action="#{cc.attrs.editor.prepareToDelete(cc.attrs.entity)}"
                         process="@this" update=":messages #{cc.attrs.deleteDialogId}"
                         oncomplete="PF('#{cc.attrs.deleteDialogWidgetVar}').show();"
                         icon="ui-icon-close"/>
    </h:panelGrid>

</composite:implementation>


</html>