<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="editor" type="qwe.workshop.management.web.component.EntityListEditor" required="true"/>
    <composite:attribute name="editDialogId" required="true"/>
    <composite:attribute name="editDialogWidgetVar" required="true"/>
</composite:interface>

<composite:implementation>
    <f:loadBundle var="buttons" basename="qwe.workshop.management.web.i18n.buttons"/>

    <div id="#{cc.clientId}">

        <p:commandButton value="#{buttons.add}"
                         action="#{cc.attrs.editor.prepareToAdd}"
                         process="@this" update=":messages #{cc.attrs.editDialogId}"
                         oncomplete="PF('#{cc.attrs.editDialogWidgetVar}').show();"
                         icon="ui-icon-plus">
            <p:resetInput target="#{cc.attrs.editDialogId}"/>
        </p:commandButton>

    </div>

</composite:implementation>


</html>