<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:qwe="http://java.sun.com/jsf/composite/qwe"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="value" type="qwe.workshop.management.core.report.operation.OperationReportAmounts" required="true"/>
</composite:interface>

<composite:implementation>

    <f:loadBundle var="common" basename="qwe.workshop.management.web.i18n.common"/>

    <div id="#{cc.clientId}">
        <h:panelGrid columns="6" styleClass="operationReportAmounts ui-widget">
            <h:outputText value="#{common.expense}:"/>
            <qwe:signumAmount amount="#{- cc.attrs.value.expense}"/>
            <h:outputText value="#{common.income}:"/>
            <qwe:signumAmount amount="#{cc.attrs.value.income}"/>
            <h:outputText value="#{common.profit}:"/>
            <qwe:signumAmount amount="#{cc.attrs.value.profit}"/>
        </h:panelGrid>
    </div>

</composite:implementation>


</html>