<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="amount" type="java.lang.Integer" required="true"/>
</composite:interface>

<composite:implementation>

    <h:outputText value="#{cc.attrs.amount}"
                  styleClass="#{cc.attrs.amount lt 0 ? 'negativeSignumAmount' : 'positiveSignumAmount'}"
                  converter="SignumAmountConverter"/>

</composite:implementation>


</html>